/*rest*/
@charset"utf-8";
html{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:Arial,"微软雅黑",Helvetica,sans-serif;font-size:12px;color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,span,i,b{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
s,i,em{font-style:normal;text-decoration:none;}
input,button,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());cursor:pointer;}
a:hover,a:visited,a:active{text-decoration:none;}
.none{
    display: none;
}
/*背景颜色*/
.bg-black{background:black;}
.bg-white{background:white;}
.bg-red{background:red;}
.bg-lightpink{background:lightpink;}
.bg-lightgreen{background:lightgreen;}
/*字体颜色*/
.red,label.error{color:red;}
.gray{color:gray;}
.green{color:green;}
.blue{color:blue;}
.white{color:white;}
/*文字排版*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f28{font-size:28px;}

.vm{vertical-align:middle;}
.vt{vertical-align:top;}
.vb{vertical-align:bottom;}

.al{text-align:left;}
.ac{text-align:center;}
.ar{text-align:right;}
.aj{text-align:justify;text-justify:inter-ideograph;}

.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.fb,strong{font-weight:bold}
.fn{font-weight:normal}
.fi{font-style:italic;}

.t2em{text-indent:2em}

.FYH{font-family:"微软雅黑";}
.FST{font-family:"宋体";}
.FHT{font-family:"黑体";}

.break-all{word-break:break-all;}
.keep-all{word-break:keep-all;}

.ln30{line-height:30px;}
.ln2em{line-height:2em;}

.ellipsis{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.foldtext{white-space:normal;}

/*定位*/
.rel,.pos-rel{position:relative;}
.abs,.pos-abs{position:absolute;}

.fl,.left{float:left;_display:inline;}
.fr,.right{float:right;_display:inline;}

.cur-p{cursor:pointer;}
.cur-d{cursor:default;}
.cur-m{cursor:move;}

/*区块*/
.w{width:100%;}
.h{height:100%;}
.w100{width:100px;}
.w900{width:900px;}
.w1000{width:1000px;}


.bs-b{box-sizing:border-box;}
.bs-c{box-sizing:content-box;}

.hide,.kgc_hide{display:none;}
.dis-b{display:block;}
.dis-i{display:inline-block;}
.dis-f{display:flex;}

.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}

.hideoverflow{overflow:hidden;}

/*边距*/
.mla{margin-left:auto;}
.mra{margin-right:auto;}

.m0{margin:0;}
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}

.p0{padding:0;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}

/*边框*/
.b-w-1{border-width:1px;}
.b-t-w-1{border-top-width:1px;}
.b-l-w-1{border-left-width:1px;}
.b-r-w-1{border-right-width:1px;}
.b-b-w-1{border-bottom-width:1px;}
.b-s-solid{border-style:solid;}
.b-t-s-solid{border-top-style:solid;}
.b-l-s-solid{border-left-style:solid;}
.b-r-s-solid{border-right-style:solid;}
.b-b-s-solid{border-bottom-style:solid;}
.b-s-dashed{border-style:dashed;}
.b-t-s-dashed{border-top-style:dashed;}
.b-l-s-dashed{border-left-style:dashed;}
.b-r-s-dashed{border-right-style:dashed;}
.b-b-s-dashed{border-bottom-style:dashed;}
.b-c-gray{border-color:gray;}
.b-t-c-gray{border-top-color:gray;}
.b-l-c-gray{border-left-color:gray;}
.b-r-c-gray{border-right-color:gray;}
.b-b-c-gray{border-bottom-color:gray;}
.b-c-lg{border-color:lightgray;}
.b-t-c-lg{border-top-color:lightgray;}
.b-l-c-lg{border-left-color:lightgray;}
.b-r-c-lg{border-right-color:lightgray;}
.b-b-c-lg{border-bottom-color:lightgray;}

/*透明*/
.opacity0{opacity:0;}
.opacity10{opacity:.1;}
.opacity20{opacity:.2;}
.opacity30{opacity:.3;}
.opacity40{opacity:.4;}
.opacity50{opacity:.5;}
.opacity60{opacity:.6;}
.opacity70{opacity:.7;}
.opacity80{opacity:.8;}
.opacity90{opacity:.9;}
.opacity100{opacity:1;}
